* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.container {
  padding: 0.8em 1.2em;
  max-width: 100%;
  width: 1200px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

#logo {
  font-size: 1.5rem;
  padding: 0.3em;
}

/*_____ header______*/
header {
  background-image: linear-gradient(to right, #273f97, #2481de);
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 1px solid crimson;
}

.nav-list {
  display: flex;
}

.nav-list-item {
  padding: 1em;
}

.showcase-content {
  display: flex;
  margin-top: 1em;
}

.showcase-content-info {
  width: 600px;
  height: auto;
}

.img-showcase-content {
  width: 500px;
}
